<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="slider-caption">
            <div class="row">
                
                <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="box-title">
                     &nbsp; ticket booking - Pesan <strong>Tiket</strong>
                    </div>
                    <div class="col-md-4 col-sm-6">
                    <label>Tujuan Keberangkatan</label>
                        <div class="form-group">
                                            <label>Dari</label>
                                            <span class="input-group">
                                            <span class="input-group-addon"><img src="assets/images/bus-dari.png"></span>
                                            <input type="text" class="form-control" name="plahan" ng-model="pasar.plahan">
                                            
                                            </span>
                                            
                        </div>
                        <div class="form-group" align="center">
                                            
                                            <a href="#"><img src="assets/images/switch.png"></span></a>
                                            
                                            
                        </div>
                        <div class="form-group">
                                            <label>Menuju</label>
                                            <span class="input-group">
                                            <span class="input-group-addon"><img src="assets/images/bus-menuju.png"></span>
                                            <input type="text" class="form-control" name="plahan" ng-model="pasar.plahan">
                                            
                                            </span>
                                            
                        </div>
                        
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 tengah">
                        <label>Jadwal Keberangkatan</label>
                        <div class="form-group">
                                            <label>Tanggal Berangkat</label>
                                            <span class="input-group">
                                            <span class="input-group-addon img-circle"><img src="assets/images/bus-dari.png"></span>
                                            <input type="text" class="form-control" name="plahan" ng-model="pasar.plahan">
                                            
                                            </span>
                                            
                        </div>
                        
                        <div class="form-group">
                                           <span class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" >Sekali Jalan
                                                  
                                                </label>
                                                
                                            </span>
                                            <span class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" >Pulang Pergi
                                                  
                                                </label>
                                                
                                            </span>
                                            
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <label>Cari Tiket</label>
                        <div class="form-group">
                                            <label>Jumlah Penumpang</label>
                                            <span class="input-group">
                                            <span class="input-group-addon"><img src="assets/images/bus-dari.png"></span>
                                            <input type="text" class="form-control" name="plahan" ng-model="pasar.plahan">
                                            
                                            </span>
                                            
                        </div>
                        
                        <div class="form-group">
                                           <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" >Sekali Jalan
                                                  
                                                </label>
                                                
                                            </div>
                                            
                                            
                        </div>
                    </div><!--/.col-md-4-->
                   
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->

            </div>
                <h1>Delicious Meals</h1>
                <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                <br><br>eget tellus luctus fermentum.</p>
                <a href="{{ 'samples/single-post'|page }}">Shop Now</a>
            </div>
        <img src="{{ 'assets/images/slider-bg.jpg'|theme }}" alt="" />
        </li>
            
        </ul>
    </div>