<div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-account">
                    
                    <a href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo-ipomi.png'|theme }}" title="Ipomi" alt="Ipomi" ></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart-info">
                    <i class="fa fa-phone"></i>
                    <a href="#">Hotline :</a> (021) 123456 
                </div>
            </div>
        </div>
    </div>
</div>
